/* General Styles */
body {
  font-family:Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

/* Info Board */
.info-board {
  display: flex;
  border: 2px solid black;
  background-color: white;
  width: 936px;
  height: 335px;
}

/* Clock Section */
.clock-section {
  width: 240px;
  height: 335px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  border-right: 2px solid black;
  text-align: center;
}

.clock {
  margin-top: 20px;
  position: relative;
  width: 195px;
  height: 195px;
  border: 4px solid black;
  border-radius: 50%;
  background-color: white;
  transform: rotate(-90deg);
}

.hour-hand {
  position: absolute;
  width: 25%;
  height: 2px;
  background-color: black;
  top: 50%;
  left: 50%;
  transform-origin: 0% 50%;
}

.minute-hand{
  position: absolute;
  width: 40%;
  height: 2px;
  background-color: black;
  top: 50%;
  left: 50%;
  transform-origin: 0% 50%;

}

.hour-hand,
.minute-hand
 {
  background: rgb(0, 0, 0);
  border-radius: 0 0 1.5vmin 1.5vmin;
  height: 4px;
}

.second-hand {
  background-color: red;
  position: relative;
  width: 35%;
  height: 2px;
  top: 50%;
  left: 50%;
  transform-origin: 0% 30%;
}


.center-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.clock-dimensions {
  font-size: 12px;
  margin-top: 10px;
}

/* Info Section */
.info-section {
  background-color: #003da0;
  width: 568px;
  border-right: 2px solid black;
  text-indent: 10px; 
}

.train-info {
  margin-top: 35px;
  margin-left: 45px;
  margin-bottom: 10px;
}

.white-back {
  background-color: #ffffff;
  width: 480px;
  height: 240px;
  box-sizing: border-box;
  color: #030f75;
  position: relative; 
}

.logo {
  height: 30px;
  width: 70px;
  position: absolute;
  top: 5px; 
  right: 5px; 
}

.train-type{
  position: absolute;
  top: -20px; 
  right: 80px; 
}

.departure-time {
  font-size: 30px;
}



.destination {
  font-size: 30px;
  margin: -30px 0;
}

.via-info {
  font-size: 20px;
  margin: 40px 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 450px;
}

span{
  display:block;
  text-indent:10px;
  line-height: 30px;
  }
  

.next-info {
  font-size: 20px;
  width: 480px;
  height: 25px;
  color: #f0f0f0;
  background-color: #071bad;
  text-align: left;

}

/* Platform Section */
.platform-section {
  width: 128px;
  height: 335px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #003da0;
  color: white;
  text-align: center;
}

.platform-square{
  width:96px;
  height:96px;
  background-color: white;
  position:absolute;
  margin-bottom:180px;
}

.spoor-text{
  width:20px;
  height:20px;
  position:absolute;
  margin-bottom:250px;
  margin-right: 35px;
  color: #003da0;
}


.platform-number {
  font-size: 54px;
  margin: 0;
  position: absolute;
  color:#003da0;
  margin-bottom:160px;
  margin-right:10px;
}

.platform-text{
  position: absolute;
  color:#003da0;
  margin-bottom:200px;
  margin-left: 65px;
}

.platform-cut-out{
  width:20px;
  height:20px;
  position:absolute;
  margin-bottom:260px;
  margin-right: 80px;
  background-color: #003da0;
}

.station-input {
  margin: 20px;
  text-align: center;
}

#stationName {
  padding: 10px;
  font-size: 16px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#fetchButton {
  padding: 10px 20px;
  font-size: 16px;
  background-color:#003da0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#fetchButton:hover {
  background-color: #005bb5;
}
